<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <section>
    <h1>Config User to <%= title %></h1>
    <article>
      <p>EDITAR USUARIO</p>
    <form action="/users/config?_method=PUT" method="post" enctype="multipart/form-data">
      <input type="text" id="identificador" name="identificador" value="<%= usuario[0].username %>" hidden>
      <label for="username">Nome de Usuário</label>
      <input type="text" id="username" name="username" value="<%= usuario[0].username %>" />
      <label for="email">E-mail</label>
      <input type="email" id="email" name="email" value="<%= usuario[0].email %>" />
      <label for="senha">Senha</label>
      <input type="password" id="senha" name="senha" value="<%= usuario[0].senha %>" />
      <label for="foto">selecione novas fotos</label>
      <input type="file" id="foto" name="foto" multiple>
      <input type="submit" name="editar" value="editar" />
    </form>
    </article>
    <article>
      <p>DELETAR USUARIO</p>
    <form action="/users/config?_method=DELETE" method="post">
      <label for="username">Nome de Usuário</label>
      <input type="text" id="username" name="username" value="<%= usuario[0].username %>" />
      <label for="email">E-mail</label>
      <input type="email" id="email" name="email" value="<%= usuario[0].email %>" />
      <input type="submit" id="apagar" name="apagar" value="apagar" />
    </form>
  </article>
  </section>
  </body>
</html>
